body {
    font-family: 'Montserrat', sans-serif;
}

header {
    background-color: #BBBBBB;
    padding: 20px 0 !important;
}

/*
position:

-Static (estatica): Por padrão do navegador o posicionamento de qualquer elemento é estatico a partir de seu código HTML
(Todo alinhado a esquerda e conteudo abaixo de conteudo).

-Relative (relativo): Um elemento relativo segue como ponto o posicionamento estatico, porem se é modificado o
posicionamento a partir daquele ponto.

-Absolute (absoluto): Se é decidido um novo ponto inicial para este elemento.
*/

.caixa {
    width: 940px;
    position: relative; /*Qualquer posicionamento que for mudado dentro da <div class="caixa"> sera relativo a caixa*/
    margin: 0 auto;
}

.caixa nav {
    position: absolute;
    top: 50%;
    right: 0;
}

.caixa nav li{
    display: inline;
    margin-left: 15px;
}

.caixa nav a:hover {
    color: #C78C19;
    text-decoration: underline;
}

.caixa nav a {
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

.produtos {
    width: 940px;
    margin: 0 auto;
    padding: 50px 0;
}

.produtos li {
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: black solid 2px; /*tamanho, cor e estilo*/
    border-radius: 10px;
}

.produtos li:hover {
    border-color: #C78C19;
}

.produtos li:hover h1 {
    font-size: 35px;
}

.produtos li:active{
    border-color: #088C19;
}

.produtos h1 {
    font-size: 30px;
    font-weight: bold;
}

.produto_preco {
    font-weight: bold;
    font-size: 22px;
    margin-top: 10px;
}

.produto_descricao {
    font-size: 18px;
}

footer {
    text-align: center;
    background: url("img_produtos/bg.jpg");
    padding: 40px;
}

.copyright {
    color: white;
    font-size: 13px;
    margin-top: 20px;
}

/*Contato*/

form {
    width: 940px;
    margin: 40px auto;
}

form label, form legend {
    display: block;
    font-size: 20px;
    margin-bottom: 10px;
}

.input-padrao {
    display: block;
    margin-bottom: 20px;
    padding: 10px 25px;
    width: 50%;
}

.checkbox {
    margin: 20px 0;
}

.enviar {
    width: 40%;
    padding: 15px 0;
    background-color: orange;
    color: white;
    font-weight: bold;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    transition: 1s all;
    cursor: pointer;
}

.enviar:hover {
    background-color: darkorange;
    transform: scale(1.05);
}

table {
    margin: 20px auto 40px auto;
    width: 940px;
}

thead {
    background: #555555;
    color: white;
    font-weight: bold;
}

td, th {
    border: 1px solid black;
    padding: 8px 15px;
}

/* css da pagina inicial */
.banner {
    width: 940px;
    margin: 20px auto 20px auto;
    display: block;
}

.titulo_principal {
    text-align: center;
    font-size: 2em;
    margin-bottom: 1em;
    clear: left;
}

.principal {
    padding: 3em 0;
    background: #FEFEFE;
    width: 940px;
    margin: 0 auto;
}

.principal p {
    margin-bottom: 1em;
}

.principal strong {
    font-weight: bold;
}

.principal em {
    font-style: italic;
}

.utensilio {
    width: 120px;
    float: left;
    margin: 0 20px 20px 0;
}

.mapa {
    padding: 3em 0;
    background: linear-gradient(#FEFEFE, #888888);
}

.mapa iframe {
    width: 940px;
    margin: 0 auto;
    display: block;
}

.mapa p {
    margin-bottom: 2em;
    text-align: center;
}

.beneficios {
    padding: 3em 0;
    background: #888888;
}

.conteudo_bene {
    width: 640px;
    margin: 0 auto;
}

.lista_bene {
    width: 50%;
    display: inline-block;
    vertical-align: top;
}

.lista_bene li {
    line-height: 1.5;
}

.lista_bene li:first-child {
    font-weight: bold;
}

.lista_bene li:before {
    content: "★";
}

.img_Bene {
    width: 50%;
    transition: 400ms;
    box-shadow: 10px 10px 20px;
}

.img_Bene:hover {
    opacity: 0.7;
}

.video {
    margin: 2em auto;
    display: block;
}

/*
.main > p {         !* Selecionando o <p> direto de main *!
    background: red;
}

.img + p {          !* Selecionando o primeiro <p> de img *!
    background: blue;
}

.img ~ p {          !* Selecionando todos os <p> dps da img *!
    background: yellow;
}

.principal p:not(#missao) {     !* Selecionando todos os <p> menos o com id="missao" *!
    background: orange;
}
*/

@media screen and (max-width: 480px) {
    .caixa, .principal, .conteudo_bene, .mapa iframe{
        width: auto;
        text-align: center;
    }
    .video, .banner {
        width: 100%;
    }
    .caixa nav {
        position: static;
    }
    section p {
        text-align: left;
    }
    .lista_bene, .img_Bene {
        width: 100%;
    }
}
